
@import (reference) 'variables';
@import 'overlay';
@import 'input';

body {
  margin: 0;
  position: relative;
  color: @text-color;
  height: 100vh;
  background-color: @base-background;
  font-family: Helvetica Neue, Omnes, Montserrat, Questrial, Gotham, Arial, Helvetica, Helvetica Neue, serif;
  font-weight: 400;
  overflow-y: hidden;
  user-select: none;
  line-height: 1.35em;
  cursor: default;
}

#root {
  height: 100%;
}

.root {
  height: 100%;
  width: 100%;
  padding: 0 0 10em;
  box-sizing: border-box;
  overflow-y: auto;

  > header {
    padding: @grid-spacing;
    h2 {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      input {
        -webkit-appearance: none;
        text-align:     center;
        font-size:      inherit;
        font:           inherit;
        letter-spacing: inherit;
        text-transform: inherit;
        box-sizing:     border-box;
        line-height:    1.5em;
        display:        block;
        padding:        0;
        margin:         0;
        width:          100%;
        height:         auto;
        padding:        0.3em 0.8em 0.1em;
        border-radius:  4px;
      }
    }
  }
  .browse {
    padding: @grid-spacing;
  }
}


.tile {
  background-color: @grid-tile-background-color;
  transition:       150ms all;
  padding:          @grid-spacing / 2 @grid-spacing;
  width:            @grid-tile-size;
  box-sizing:       border-box;

  h3 {
    display: block;
    white-space: nowrap;
    overflow: hidden;
  }
  span.meta {
    display: block;
    font-weight: 800;
  }
  img {
    box-sizing: border-box;
    display:    block;
    height:     auto;
    width:      100%;
    max-width:  100%;
  }

  aside.properties {
    display: none;
  }

  &:hover {
    background-color: @grid-tile-background-color-hover;
  }
  &.selected {
    background-color: @grid-tile-background-color-selected;
    position: relative;

    aside.properties {
      display: block;
      position: absolute;
      z-index: 100;
      background: @grid-tile-background-color-selected;
      left: 100%;
      top: 0;
      height: auto;
      min-height: 100%;
      line-height: 1.2em;
      font-size: 0.82em;

      input {
        padding: 0;
        border-bottom: 1px solid;
        font-size: 1em;
        line-height: inherit;
      }
    }
  }
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: inherit;
}

ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: @link-color;
  opacity: 0.75;
  text-decoration: none;

  &:hover {
    opacity: 1;
    color: @link-color-hover;
    cursor: pointer }}

.btn {
  display: inline-block;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.22em;
  font-size: 0.8em;
  border-radius: 2em;
  padding: 0.5em 1.5em;
  margin: 0.1em 0.1em 0 0;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  transition: @transition-colors;

  &.selected {
    background-color: @button-background-selected;
  }
  &:hover {
    transition-duration: @transition-duration / 4;
    color: white;
    background-color: @button-background-hover;
  }
  &.selected:hover {
    background-color: @button-background-active }
}


.toolbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid lighten(@base-background, 12%);
  background-color: lighten(@base-background, 3%);

  button,
  .label {
    .btn;
  }
}

.grid {
  display:            flex;
  flex-flow:          row wrap;
  align-items:        stretch;
  justify-content:    flex-start;

  .list-item {
    flex:             0 0 auto;
    box-sizing:       border-box;
    border-style:     solid;
    border-width:     0 1px 1px 0;
    background-color: @grid-tile-background-color;
    border-color:     @grid-tile-border-color;
    font-size:        ~"calc(var(--scale) * 0.15em)";
  }

  .source {
    padding-bottom: 100%;
    position:       relative;
    height:         0;

    svg {
      top:        50%;
      left:       50%;
      width:      100%;
      height:     auto;
      position:   absolute;
      transform:  translate(-50%, -50%);
      max-height: 100%;
    }
  }
}


