
.group {
  display: block;
  padding: @padding-regular;

  > h3 {
    .text(subtitle);
    margin: 0;
    padding: 0.5em 0 0;
  }
}

input,
.field {
  -webkit-appearance: none;
  align-items:        center;
  background:         transparent;
  font-family:        inherit;
  font-weight:        inherit;
  color:              inherit;
  border:             none;
  display:            flex;
  height:             1.6em;
  width:              auto;
  max-width:          100%;
  cursor:             pointer;
  padding:            @padding-regular / 2;
  font-size:          1em;
  border-radius:      2px;
  transition:         @transition-colors;
  //
  // h4 {
  //   .text(label);
  //   margin: 0;
  //   padding: 0 0 0 @padding-regular;
  // }
  //
  &:focus {
    background-color: @input-background-selected;
    border-color:     darken(@input-background-selected, 8%);
    outline:          none;
  }
  &:hover {
    transition-duration: @transition-duration / 4;
    background-color:    @input-background-hover;
    border-color:        darken(@input-background-hover, 8%);
    color:               @text-color;
  }
  &:focus:hover {
    background-color: @input-background-active;
    border-color:     darken(@input-background-active, 8%);
    color:               @text-color;
  }
}
